# Logs
logs
*.log

# env
.env

# Coverage directory used by tools like istanbul
coverage

# Distribution folders
build
dist
lib/bs
lib/js

# Dependency directories
node_modules
bower_components

# Local stuff
.merlin
.vscode
lib/config.json
src/config.json

# Testing
cypress/videos
cypress/screenshots

# mac
.bsb.lock
.DS_Store
.rts2_cache_cjs
.rts2_cache_esm

